services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    networks:
      - messenger-network

networks:
  messenger-network:
    driver: bridge
