services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=messenger
      - DB_USERNAME=root
      - DB_PASSWORD=root
    depends_on:
      - db
    networks:
      - messenger-network

  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: messenger
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - messenger-db-data:/var/lib/postgresql/data
    networks:
      - messenger-network

networks:
  messenger-network:
    driver: bridge

volumes:
  messenger-db-data:
